homeassistant==2026.3.1

# Home Assistant frontend (required by the frontend component)
home-assistant-frontend

# Debugger support (used by the debugpy integration)
debugpy
aiodiscover
ulid_transform
pytest
coverage
pytest-asyncio